@charset "UTF-8";

* {
	box-sizing: border-box;
}

div#wrap div.loginFrame {
	width: 410px;
	border: 1px solid #ccc;

    position: relative;
}


div#wrap>div {
	text-align: center;
	padding: 10px;
	border-top: none;
	color: #888;
	font-size: 17px;
}

div input {
	padding: 15px;
	font-size: 17px;
	background-color: #eee;
	border: none;
    outline: none;

}

div button {
	width: 120px;
	height: 120px;
	border: none;
	background-color: #f80;
	font-size: 18px;
	color: #fff;
}

/* table, td {
	border: 1px solid #000;
	border-collapse: collapse;
} */


table td {
	padding: 10px;
}

form#frm span.msg {
    color: #f00;
    font-size: 12px;
/*    border: 1px solid #f00;*/
    position: absolute;
    left: 126px;
    display: none;
}
form#frm span#uID_Msg {
    left: 140px;
    top: 44px;
}
form#frm span#uPW_Msg {
    left: 114px;
    top: 116px;
}
